<div>
<button routerLink="home">
  HOME
</button>
<button routerLink="about">
  About
</button>
<mat-button routerLink="table-api">
  API
</mat-button>
<button routerLink="p-c">
  data transfer
</button>
<button routerLink="grid">
  GRID
</button>
<button routerLink="i-p">
  Input
</button>
<button routerLink="o-p">
  Output
</button>
<button routerLink="form">
  Basic Form
</button>
<a routerLink="component1">
  Home
</a>
<a routerLink="component2">
  aboutus
</a>
<a routerLink="component3">
  contactus
</a>
</div>
<router-outlet></router-outlet>
